<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <form action="/student/save" method="post">
        <lable>ID</lable>
        <input type="text" name="id" readonly th:value="${student.id}">
        <lable>Name</lable>
        <input type="text" name="name" th:value="${student.name}">
        <lable>Age</lable>
        <input type="text" name="age" th:value="${student.age}">
        <input type="submit" value="更新">
    </form>
</body>
</html>