<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <form action="/klass/save" method="post">
        <lable>ID</lable>
        <input type="text" name="id" readonly th:value="${klass.id}">
        <lable>Name</lable>
        <input type="text" name="name" th:value="${klass.name}">
        <lable>Major</lable>
        <input type="text" name="major" th:value="${klass.major}">
        <input type="submit" value="更新">
    </form>
</body>
</html>