<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Klass</title>
</head>
<body>
    <form action="/grade/save" method="post">
        <lable>Name</lable>
        <input type="text" name="name">

        <lable>Java</lable>
        <input type="text" name="java">

        <lable>Python</lable>
        <input type="text" name="python">

        <lable>C</lable>
        <input type="text" name="c">

        <input type="submit" value="提交">
    </form>
</body>
</html>